{% extends "layout.html" %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Project Overview</h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Domain</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">AI-Machine Learning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chalkboard fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Dataset Source</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kaggle</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-database fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Algorithm</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">CNN</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Framework</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Flask</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-archway fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Problem Statment</h6>
                                </div>
                                <div class="card-body text-justify">
                                    Plant diseases pose a significant threat to crop yield and quality, leading to substantial
                                     economic losses and food security concerns. Early detection of these diseases is crucial for 
                                     effective management and prevention of their spread. However, traditional methods of disease 
                                     diagnosis based on visual inspection by experts are often time-consuming, subjective, and prone 
                                     to errors. Hence, 
                                    there is a need for an automated and accurate system to detect plant leaf diseases efficiently.
                                 </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Introduction</h6>
                                </div>
                                <div class="card-body text-justify">
                                    The rapid advancement of deep learning techniques has opened up new possibilities for
                                     automated disease detection in plants. Deep learning models, such as convolutional 
                                     neural networks (CNNs), have demonstrated remarkable performance in image classification 
                                     tasks. By leveraging the power of deep learning, we can develop an intelligent system 
                                     that can analyze images of plant leaves and accurately identify the presence of diseases.
                                      Such a system would enable early detection 
                                    and intervention, allowing for timely treatment and prevention measures.
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Proposed Solution</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body text-justify">
                                    In this study, we propose a plant leaf disease detection system based on deep learning.
                                     The system will consist of a CNN model trained on a large dataset of plant leaf images,
                                     encompassing various healthy and diseased states. The model will learn to extract 
                                     discriminative features from the leaf images and make predictions about the presence 
                                     of diseases. To enhance the model's performance, data augmentation techniques will be 
                                     applied to alleviate the effects of limited data availability. The trained model will 
                                     then be deployed in an application or web-based interface, providing an easy-to-use tool
                                     for farmers and agricultural experts to identify and manage plant diseases effectively.
                                </div>
                            </div>

                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Conclusion</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardExample">
                                    <div class="card-body text-justify">
                                        Plant leaf disease detection using deep learning offers a promising solution to tackle the
                                         challenges associated with traditional manual diagnosis methods. By automating the detection
                                          process, we can provide farmers and agricultural professionals with a reliable and efficient
                                           tool to identify diseases early on, thereby minimizing crop losses and improving overall 
                                           productivity. The proposed system has the potential to revolutionize disease management 
                                           practices, contributing to sustainable agriculture and global food security. Further 
                                           research and development in this area are warranted to refine the model's performance, 
                                           expand its applicability to 
                                        different crops and diseases, and ensure its practical implementation in real-world scenarios.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>





        {% endblock %}

        </div>





